.gearYM,
.gearDate,
.gearDatetime,
.gearTime {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9900;
    overflow: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.date_ctrl {
    width: 3.75rem;
    height: 3.46rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.16rem 0.16rem 0px 0px;
    position: fixed;
    bottom: 0;
    z-index: 9901;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slideInUp {
    animation: slideInUp .3s ease;
    -webkit-animation: slideInUp .3s ease;
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.ym_roll,
.date_roll,
.datetime_roll,
.time_roll {
    display: -webkit-box;
    width: 100%;
    height: 2.9rem;
    overflow: hidden;
    font-weight: bold;
    background-color: transparent;
    mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));
    -webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0))
}

.ym_roll>div,
.date_roll>div,
.datetime_roll>div,
.time_roll>div {
    font-size: 0.15rem;
    font-weight: normal;
    font-family:"微软雅黑";
    height: 2.9rem;
    float: left;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 4
}

.ym_roll>div .gear,
.date_roll>div .gear,
.datetime_roll>div .gear,
.time_roll>div .gear {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 9902;
    margin-top: -8em
}

.date_roll_mask {
    mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));
    -webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));

}

.date_roll>div:nth-child(2) {
    -webkit-box-flex: 2
}

.date_roll>div:nth-child(1),
.datetime_roll>div:nth-child(1) {
    -webkit-box-flex: 4
}

.datetime_roll>div:first-child {
    -webkit-box-flex: 6
}

.datetime_roll>div:last-child {
    -webkit-box-flex: 6
}

.date_grid {
    position: relative;
    top: 8em;
    width: 100%;
    height: 4em;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.date_grid>div {
    color: #000;
    position: absolute;
    right: 0;
    top: 0;
    font-size: .8em;
    line-height: 2.5em
}

.date_roll>div:nth-child(3) .date_grid>div {
    left: 42%
}

.datetime_roll>div .date_grid>div {
    right: 0
}

.datetime_roll>div:first-child .date_grid>div {
    left: auto;
    right: 0%
}

.datetime_roll>div:last-child .date_grid>div {
    left: 50%
}

.time_roll>div:nth-child(1) .date_grid>div {
    right: 1em
}

.ym_roll>div:nth-child(1) .date_grid>div {
    right: .1em
}

.ym_roll>div .date_grid>div,
.time_roll>div .date_grid>div {
    right: 5em
}

.date_btn {
    color: #0575f2;
    font-size: 0.15rem;
    text-align: center;
    padding-left: 0.24rem;
}


.date_btn_box {
    width: 3.43rem;
    height: 0.49rem;
    line-height: 0.49rem;
    padding: 0 0.16rem;
    display: flex;
    background: #fff;
    position: relative;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.date_btn_box .lcalendar_cancel{
    color: rgba(159, 166, 174, 1);
}
.date_btn_box h2 {
    width: 1.5rem;
    font-size: 0.16rem;
    font-weight: bold;
    color: rgba(8, 16, 26, 1);
    padding-right: 0.7rem;
}


.date_roll>div:nth-child(1) .gear {
    text-indent: 20%
}

.date_roll>div:nth-child(2) .gear {
    text-indent: -20%
}

.date_roll>div:nth-child(3) .gear {
    text-indent: -55%
}

.datetime_roll>div .gear {
    width: 100%;
    text-indent: -25%
}

.datetime_roll>div:first-child .gear {
    text-indent: -10%
}

.datetime_roll>div:last-child .gear {
    text-indent: -50%
}

.ym_roll>div .gear,
.time_roll>div .gear {
    width: 100%;
    text-indent: -70%
}

.ym_roll>div:nth-child(1) .gear,
.time_roll>div:nth-child(1) .gear {
    width: 100%;
    text-indent: 10%
}

.tooth {
    height: 4em;
    line-height: 4em;
    text-align: center
}